:root {
    --bg: rgba(255, 255, 255, 0.5);
    --text: #263238;
}
:root[theme=dark] {
    --bg: rgba(0, 0, 0, 0.5);
    --text: #eceff1;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    padding: 0;
    margin: 0;
    color: var(--text);
}

html {
    padding: 0;
    margin: 0;
}


.effect-fade {
    opacity: 0;
    transform: translate(0, 40vh);
    transition: all 0.8s;
}

.effect-scroll {
    opacity: 1;
    transform: translate(0, 0);
}

.flex_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.content::-webkit-scrollbar-track {
    /*border-radius: 4px;
    box-shadow: 0 0 4px var(--acent) inset;*/
    display: none;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5);
}

.content {
    background: var(--bg);
    backdrop-filter: blur(12px) brightness(2);
    border-radius: 8px;
    max-width: 1280px;
    width: 96%;
    flex-grow: 11;
    align-self: stretch;
    order: 0;
    margin: 4px auto;
    text-align: center;
    padding: 4px;
    overflow: scroll;
    border: 1px solid var(--bg);
    font-size: 2em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.input {
    background: var(--bg);
    backdrop-filter: blur(12px) brightness(2);
    border-radius: 8px;
    min-height: 64px;
    height: 4vh;
    max-width: 1280px;
    width: 96%;
    flex-grow: 1;
    align-self: stretch;
    order: 1;
    margin: 4px auto;
    padding: 4px;
    text-align: center;
    display: inline-block;
    border: 1px solid var(--bg);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.input input {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 1em;
    color: var(--text);
}